<footer>
	<a class="link-page" href="{{ site.baseurl }}/footer/cv.html">
		CV
	</a>
	<a class="link-page" href="{{ site.baseurl }}/footer/mentions.html">
		Mentions
	</a>
	<a class="link-page" href="{{ site.baseurl }}/footer/contact.html">
		Contact
	</a>
	<div class="social-media">
		<a href="." target="_blank" class="link-icon"><img height="24" width="24" src="{{ site.baseurl }}/graphics/itch-icon-400.png"></a>
		<a href="." target="_blank" class="link-icon"><img height="24" width="24" src="{{ site.baseurl }}/graphics/instagram-icon-400.png"></a>
		<a href="." target="_blank" class="link-icon"><img height="24" width="24" src="{{ site.baseurl }}/graphics/twitter-icon-400.png"></a>
	</div>
</footer>