---
layout: mommy
---

<div class="domme">
	<div class="bratty-sub">
		<p>Je suis Leslie Astier, artiste amataire de formes ludiques. Je co-écris des protocoles d'interaction pour provoquer des échanges, des rencontres et des créations ludiques dans des environnements imprégnés de numérique.</p>
	</div>

	<a href="./jouer" class="subby category">
		<div class="myImage" id="play"></div>
		<h2>JOUER</h2>
	</a>
	<div class="subby">
		<p>Je crée des jeux cherchant à stimuler des zones d'apparition et de transformation du réel. Pour cela je conçois des jeux narratifs, poétiques et sensibles à jouer seul&middote ou à plusieurs.</p>
	</div>
	<a href="./concevoir" class="subby category">
		<div class="myImage" id="concept"></div>
		<h2>CONCEVOIR</h2>
	</a>
	<div class="subby">
		<p>À l'occasion de workshops, ateliers ou sessions de travail collectives, je crée des espaces de partage et de création. Concevoir à plusieurs est également un des fondements du <a href="https://www.pangpangclub.com/" target="_blank">Pang Pang Club</a> que je porte.</p>
	</div>
	<a href="./experimenter" class="subby category">
		<div class="myImage" id="experiment"></div>
		<h2>EXPÉRI- <br>MENTER</h2>
	</a>
	<div class="subby">
		<p>Inscrite en DSRD à l'ESAD Orléans, mes différentes pratiques interrogent le jeu et la création comme vecteurs de questionnements existentiels. Vous trouverez ici mes réflexions sous forme de blog.</p>
	</div>
</div>
