<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<title>{{ site.title }}</title>
	<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/styles/font-faces.css">
	<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/styles/general-style.css">
	{% case page.layout %}
		{% when "home" %}
			<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/styles/home.css">
		{% when "display" %}
			<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/styles/{{ page.categories }}.css">
		{% when "post" %}
			{% unless page.categories[0] == "experimenter" %}
				<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/styles/article.css">
			{% else %}
				<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/styles/post-exp.css">
			{% endunless %}
	{% endcase %}

	{% if page.categories contains "footer" %}
		<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/styles/footer.css">
	{% endif %}

	{% if page.categories contains "tags" %}
		<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/styles/search.css">
	{% endif %}
		
</head>
<body>
	{% include navbar.html %}
	<main>
		{{ content }}
	</main>
	{% include footer.html %}
	{% if page.categories contains "tag" %}
		{% include searchscript.html %}
	{% endif %}
	<script type="text/javascript" src="{{ site.baseurl }}/scripts/carousel.js"></script>
</body>
</html>