/*
 *	LAYOUT : DISPLAY
 */

main {
	padding: 2em 10em;
	/*background: url("../graphics/shape-jou-05-m100.png") 2% center / 10em repeat-y,
				url("../graphics/shape-jou-05-m50.png") 20% 10% repeat-y;
	background-repeat: repeat-y;*/
	background:/* url('/graphics/visuel-1_m50.png') 10% / 20% repeat-y,*/
	url('../graphics/shape-exp-07_m50.png') 37% / 85px repeat-y,
	url('../graphics/shape-exp-17_m25.png') 28% repeat-y,
	url('../graphics/shape-exp-07_m50.png') 84% repeat-y;
}

.col-1 {
	display: grid;
	grid-template-columns: auto;
	max-width: 60em;
	margin: auto;
}

	.col-1 .card {
		display: inline-grid;
		grid-template-columns: 33% auto;
	}

	.col-1 .img-container {
		aspect-ratio:  1 / 1;
		width: 100%;
		height: 100%;
		overflow: hidden;
	}

	.col-1 img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

.card {
	position: relative;
	transition: all 0.4s ease;
	margin: 1.5em;
	--lh: 1.2rem;
  	line-height: var(--lh);
}
	.card .cartel {
		box-sizing: border-box;
		background-color: #fffc;
		padding: 1.5em;
		overflow: hidden;
	}

		.cartel h3 {
			margin-bottom: 0;
		}

		.cartel .text-content p {
			--max-lines: 5;
			max-height: calc(var(--lh) * var(--max-lines));
 	 		overflow: hidden;
		}

/* CAROUSEL */


@media only screen and (max-width: 600px) {
	.col-1 .card {
		grid-template-columns: auto;
	}

	main {
		padding: 0;
	}
}

@media only screen and (min-width: 600px) {

	main {
		padding: 1em;
	}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	main {
		padding: 2em 5em;
	}
}
