body {
	min-height: 100vh;
}

main {
	padding-top: 0;
	min-height: calc(100vh - (var(--nlh) + var(--flh) + 2px + .6em ));
}

main .subby p a {
	text-decoration: solid underline var(--red) .1em;
	text-decoration-skip: none; /* not supported on most browsers! */
}

.domme {
	display: grid;
	grid-template-columns: 20em 20em;
	grid-template-rows: 4em 15em 15em 15em;
	grid-column-gap: 2em;
	grid-row-gap: 2em;
	padding: 2em 4em;
	justify-content: space-evenly;
	max-width: 40em;
	margin: auto;
}

.bratty-sub {
	grid-column: 1 / span 2;
	display: flex;
	justify-content: center;
	align-items: center;
}

.subby {
	display: flex;
	align-items: center;
	justify-content: center;
}

.subby p {
	text-align: left;
	width: 100%;
}

#play { background-image: url('../graphics/visuel-3.png'); }

#play:hover { filter: drop-shadow(-15px 0px 2px var(--yellow)); }

#concept { background-image: url("../graphics/visuel-1.png"); }

#concept:hover { filter: drop-shadow(0 0 .8em var(--red)); }

#experiment { background-image: url("../graphics/visuel-2.png"); }

#experiment:hover { filter: drop-shadow(12px 5px 2px var(--blue)); }

.domme .category {
	position: relative;
	align-items: flex-end;
	justify-content: right;
}

.category .myImage {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	transition: filter .6s ease;
}

	.category h2 {
		z-index: 2;
	}
	
	a.category {
		color: inherit;
		text-decoration: none;
		font-style: italic;
	}

	a.category:hover {
		text-decoration: solid underline var(--red) .1em;
	}


@media only screen and (max-width: 600px) {
	.domme {
		grid-template-columns: 35% auto;
		grid-template-rows: auto auto auto auto;
		grid-row-gap: .5em;
		padding: 1em 1.5em;
	}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
	.domme {
		grid-template-columns: 15em 15em;
		grid-row-gap: 1.5em;
	}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	.domme {
		grid-template-columns: 20em 20em;
		grid-row-gap: 2em;
	}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
	
} 