/*
 *	LAYOUT : DISPLAY
 */
 
main {
	background: url("../graphics/motif-5-m70-mirrored.png") 5% center repeat-y,
				url("../graphics/motif-5-m50.png") 12% 10% / 100px repeat-y,
				url("../graphics/motif-5-m70-mirrored.png") 88% 13% / 100px repeat-y;
	/*background: url('../graphics/visuel-3_m50.png') top center repeat-y;*/
}

.col-2 {
	/*display: grid;
	grid-template-columns: auto auto auto;
	grid-template-rows: minmax(25em, auto);*/
	justify-items: center;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

	.col-2 .card { width: 25em; }

.card {
	position: relative;
	transition: all 0.4s ease;
	margin: 1.5em;
	--lh: 1.2rem;
  	line-height: var(--lh);
}
	.card .cartel {
		box-sizing: border-box;
		background-color: #fffb;
		padding: 1em;
		overflow: hidden;
	}

		.cartel h3 {
			margin-bottom: 0;
		}

		.cartel .text-content p {
			--max-lines: 4;
			max-height: calc(var(--lh) * var(--max-lines));
 	 		overflow: hidden;
		}

.col-2 .img-container {
	width: 25em;
	height: 18.75em;
	overflow: hidden;
	background-color: white;
	margin-bottom: 0.8em;
}

.col-2 .img-container img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: 50% 50%;
}
